////
/// @group Grid
/// @author Joey Hoer
////

///
///
///
@mixin grid-float(
  $columns,
  $gutter: 0,
  $auto-omega: false,
  $direction: right
){
  $gutters: $columns - 1;

  float: opposite-of($direction);
  margin-#{$direction}: $gutter;

  @if is-percentage($gutter) {
    // Use calculate percentage based gutters
    $column-ratio: (100 - ($gutter * $gutters)) / $columns;
    width: $column-ratio;
  }
  @else {
    // Use calc() for non-percentage based gutters
    width: calc( ( 100% - #{$gutters * $gutter} ) / #{$columns} );
  }

  @if $gutter > 0 and $auto-omega {
    $nth: #{$columns}n;
    @include omega($nth, $direction);
  }
}
