////
/// @group Mixins
/// @author Joey Hoer
////

///
/// Clearfix: contain floats
///
/// @param {Bool} $contain-margins [false] - If set to true, the clearfix will
///    contain the margins of child elements, by using `display: table`
///
/// @link http://cssmojo.com/the-very-latest-clearfix-reloaded/
///
@mixin clearfix(
    $contain-margins: false
){
    $display: if($contain-margins, table, block);

    // The below must remain part of the selector
    #{if($contain-margins, '&::before,', '')}
    &::after  {
      content: '';
      display: $display;
      clear: both;
    }
}
