////
/// @group Mixins
/// @author Joey Hoer
////

///
/// Create responsive tables where table headers label each "row" of table data
/// Unless the content of each `td` is wrapped in a styling hook, a hack is needed to
/// add left padding and/or a left border to the data. Add the following to the
/// `@content` block:
/// ```
///   border-right: 10px solid transparent; /* The "padding" */
///   box-shadow: inset -1px 0 #ddd; /* The "border" */
/// ```
///
/// @param {List} $headers - A list of headers, equivalent to the table headers (in order)
/// @content `td:before`
///
@mixin responsive-table(
  $headers: null,
  $padding: null,
  $hide: true
){

    // Change table display
    &,
    caption,
    thead,
    tfoot,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    // Hide table headers and footers
    thead,
    tfoot {
      @include hide-visually;
    }

    td {
      display: table;
      table-layout: fixed;
      width: 100%;
      border-collapse: separate;
      @if $padding {
        border-spacing: $padding/2 0;
      }
      box-sizing: border-box;
      padding: 0;
      padding-right: $padding;

      // Automatically add "table headers" on columns that have
      // the data attribute defined
      &[data-table-header] {
        &:before {
          content: attr(data-table-header);
        }
      }

      &:before {
        display: table-cell;
        padding: $padding;
        position: relative;
        @if $padding {
          left: -$padding/2;
        }
        @content;
      }

      // Fixes bottom "padding" on wrapping content
      &:after {
        content: '';
        display: block;
        padding-bottom: $padding;
      }
    }

    // Assign headers
    @if $headers {
      @for $i from 1 through length($headers) {
          td:nth-of-type(#{$i}):before { content: "#{nth($headers, $i)}" }
      }
    }

}
